:root {
	--button-color: #ffffff;
}

.heading {
	font-weight: bold;
	font-size: 18px;
}

.heading p {
	margin: 5px;
}

.dropdown {
	width: 300px;
	display: flex;
	align-items: center;
	margin-bottom: 40px;
}

.select {
	display: flex;
	width: 100%;
	justify-content: space-between;
	align-items: center;
	border-radius: 5px;
	padding-inline: 10px;
	user-select: none;
	cursor: pointer;
	background-color: var(--button-color);
}

@media screen and (max-width: 425px) {
	.dropdown {
		width: 240px;
	}
}
